<h1><%= theme.tags_title %></h1>

<% site.tags.each(function(item){ %>
    <div class="blog-header" id="<%= item.name %>">
    <h2><%= item.name %></h2>
    </div>

    <ul>
    <% item.posts.each(function(post){ %>
        <li>
            <a href="<%- url_for(post.path) %>">
                <%= post.title %>
            </a>
        </li>
    <% }) %>
    </ul>

  <% }) %>
