<div class="blog-post">

  <div class="blog-header separate">
    <!-- Title -->
    <h1 class="blog-post-title">
      <a href="<%- config.root %><%- item.path %>">
        <%- item.title %>
      </a>
    </h1>

    <!-- Date and Author -->
    <p class="blog-post-meta">
      <%= item.date.format(config.date_format) %>
      <% if(item.author) { %>
        by <%- item.author %>
      <% } %>
    </p>
  </div>

  <!-- Content -->
  <%- item.excerpt || item.content %>

  <!-- Only display the Read More link if we are displaying an excerpt -->
  <% if(item.excerpt) { %>
    <p>
      <h3><a href="<%- config.root %><%- item.path %>">
      <%= theme.excerpt_link %>
      </a></h3>
    </p>
  <% } %>
</div>
